<script type='text/javascript'><!--

	tt_cancel_show='/product_type/index'
	tt_cancel_destination='/product_type/index'

//-->
</script>

<form action="update" method='post'>

  <label for="name">Item Type Name</label>
  <%= text_field_tag(:name, @product_type.name) %>

  <label for="description" >Item Type Description</label>
  <%= text_area_tag(:description, @product_type.description) %>
  <%= hidden_field_tag(:product_type_id, @product_type.epics_product_type_id) %>
  <%= submit_tag value ="Submit"%>

</form>