<script type='text/javascript'><!--

	tt_cancel_show='/product_type/index'
	tt_cancel_destination='/product_type/index'

//-->
</script>

<form action="create" method='post'>

  <label for="name">Item Type Name</label>
  <%= text_field_tag(:name) %>

  <label for="description">Item Type Description</label>
  <%= text_area_tag(:description) %>

  <%= submit_tag value ="Submit"%>

</form>