<script>
  function addPrinterIcon(){
    nav = document.getElementById('nav')
    img = document.createElement('img')
    img.src="/images/emblem_print.png"
    img.id='printer'
    img.onclick=function(){
      printReport();
      //alert('Testing');
      //window.location='/report/drug_availability_printable?store_room=<%= params[:store_room] %>'
    }
    nav.appendChild(img)
  }
  window.setTimeout("addPrinterIcon();", 50)

  function printReport(){

    jQuery.ajax({
      type: "POST",
      url: "/report/print_drug_availability_report",
      data: "store_room=<%=params[:store_room]%>",
      success: function(){
        document.location.href="/"
      }

    });
  }
</script>
<style>
#printer{
height: 60px;
margin-left: 81%;
margin-top: 10px;
cursor: pointer;
float: left;
}
.item-table {
  width: 98%;
  padding-top: 10px;
}

td {
  font-size: 16px;
}

th {
  font-size: 20;
}

.left-align {
  text-align: left;
  padding-left: 5px;
}

.right-align {
  text-align: right;
  padding-right: 5px;
}

.report-div {                                                                   
  overflow: auto;                                                               
  height: 550px;                                                                
}  

.th-header {
  background-color: silver;
  font-size: 18px;
  font-weight: bold;
}

</style>

<div class="report-div">

<table class="item-table">
<tr>
  <th class='left-align'>Item code</th>
  <th class='left-align'>Item name</th>
  <th class='right-align'>Item minimun stock</th>
  <th class='right-align'>Item maximum stock</th>
</tr>
<%(@items || {}).each do |name, data| 
    item_code = nil
    min_stock = nil
    max_stock = nil
    data.each do |stock , values| 
      item_code = values[:item_code]
      min_stock = values[:min_stock]
      max_stock = values[:max_stock]
      break 
    end
%>
  <tr class="th-header">
    <td class='left-align'><%=item_code%></td>
    <td class="left-align"><%=name%></td>
    <td class='right-align'><%=min_stock %></td>
    <td class='right-align'><%=max_stock %></td>
  </tr>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <th class='left-align'>Batch number</th>
    <th class='left-align'>Current quantity</th>
    <th colspan="2" class='right-align'>Item expires</th>
  </tr>
  <%data.each do |stock_id, item|
  %>
  <tr>
    <td class='left-align'><%=item[:batch_number]%></td>
    <td class='left-align'><%=item[:current_quantity]%></td>
    <td colspan="2" class='right-align'><%=item[:expiry_date].to_date.strftime("%B %Y") rescue 'N/A' %></td>
  </tr>
  <tr>
    <td colspan="6"><hr /><td>
  </tr>
<%end
 end
%>
</table>

</div>
