<%= javascript_include_tag 'jquery' %>
<script type="text/javascript">

    function load(id) {

        var table = document.getElementById("borrowed_items");

        while (table.rows.length > 1 )
        {
            table.deleteRow(table.rows.length - 1)
        }

        jQuery.ajax({
            type: "GET",
            dataType: "integer",
            url: "/stock/get_lent_items?id=" + id,
            success: function(data){
                answers = data.responseText
                ans = eval('(' + data +')')

                for (items in ans)
                {
                    var rowCount = table.rows.length;
                    var row = table.insertRow(rowCount);
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = items;

                    var cell2 = row.insertCell(1);
                    cell2.innerHTML = ans[items];
                    cell2.setAttribute('class', 'center')

                }
                table.rows[0].setAttribute('id', id)
            }
        });



    }

    function verify(){

        if (document.getElementById("borrowed_items").rows[0].id == "")
        {
          showMessage("Please select loan being returned");
        }
        else
        {
           window.location="/stock_details/return_index?id=" + document.getElementById("borrowed_items").rows[0].id;
        }
    }

</script>

<style type="text/css">
  td{
      font-size: 30px;

  }
  th{
      font-size: 30px;

  }
  td.center{
      text-align: center;
  }
  tr.even{
      background-color: #87ceeb;
  }
  tr.odd{
      background-color: silver;
  }


</style>


  <span style="margin-left: 0.5; font-size: 25px;font-weight: bold;">&nbsp;Loaned Items</span>

  <div style="margin:0.5%; border: 1px solid black; height: 40%;width: 99%;overflow: auto">
     <table style="width: 100%;padding: 2px; cell-spacing:4px;" id="borrowed_items">
       <tr><th style="text-align: left">Product</th> <th>Borrowed Quantity</th></tr>


     </table>
  </div>

<span style="margin-left: 0.5; font-size: 25px;font-weight: bold;">&nbsp;Dates For Outstanding Loan</span>

  <div style="margin-left:0.5%; border: 1px solid black; height: 36%;width: 99%; overflow: auto">

    <table style="width: 100%;padding: 2px; cell-spacing:4px;">
      <% @dates.each do |x| %>
          <tr class=<%=cycle('even','odd') %>>
            <td onclick="load(<%= x[1] %>)" > <%= x[0] %></td>
          </tr>
      <% end %>
    </table>

  </div>






<div id="buttons" class="buttonsDiv">
  <button class="red" onclick="window.location= '/'"><span>Cancel</span></button>
  <button style="float: right;"class="green" onclick="verify()"><span>Finish</span></button>
  <button style="float: right;" onclick="window.location='/stock/receive_loan_returns'"><span>Back</span></button>
</div>