<style>
  .item-table {
    width: 100%;
 }

  .popbtn {
    width: 50%;
  }

  .btn, .buttons {                                                                  
        border-bottom: 1px outset #EEEEEE;                                      
        border-style: outset;                                                   
        border-top: 1px outset #EEEEEE;                                         
        color: white;                                                           
        display: block;                                                         
        padding: 14px;                                                          
        text-align: center;                                                     
        text-decoration: none;                                                  
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;                               
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        background-color:#79bbff;                                               
        -moz-border-radius:42px;                                                
        -webkit-border-radius:42px;                                             
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;                          
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;                       
        border-radius:42px;                                                     
        border:1px solid #84bbf3;                                               
        border-bottom-color: rgba(0, 0, 0, 0.25);                               
        border-left-color-ltr-source: physical;                                 
        border-left-color-rtl-source: physical;                                 
        border-left-color-value: rgba(0, 0, 0, 0.1);                            
        border-right-color-ltr-source: physical;                                
        border-right-color-rtl-source: physical;                                
        border-right-color-value: rgba(0, 0, 0, 0.1);                           
        border-top-color: rgba(0, 0, 0, 0.1);                                   
        font-size: 1.3em;                                                       
        font-weight:bold;                                                       
    }

    #borrowed_items_two {
      background-color: InactiveCaption;
      height: 395px;
      overflow-x: auto;
      border-style: outset;
      font-size: 20px;
      border-collapse: collapse;
    }

    .borrowed_items th{
      text-align: left;
      padding-left: 10px;
    }

    .borrowed_items td{
      text-align: left;
      padding-left: 10px;
    }

    .borrowed_items {
      border-collapse: collapse;
    }

</style>

    
</style>

<%= stylesheet_link_tag "alert-popup" %>                                        
<%= javascript_include_tag "alert-popup"%>

<script>
  function showItems(order_id) {
    showLayer();
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
        xmlhttp=new XMLHttpRequest();                                             
      }else{// code for IE6, IE5                                                  
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
      }                                                                           
      xmlhttp.onreadystatechange=function() {                                     
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
          var results = xmlhttp.responseText;                                     
          if(results) {                                                         
            popup = document.getElementById('question');                        
            popup.innerHTML = results;                                          
          }                                                                     
        }                                                                         
      }                                                                           
      xmlhttp.open("GET","/stock/get_items_by_order_id?order_id=" + order_id,true);                      
      xmlhttp.send();
  }

  function selectOrder(order_id) {
    document.location = '/stock_details/return_index?id=' + order_id;
  }

</script>

<table class="item-table">
<%(@dates || {}).each do |date, order_id|%>                           
  <tr>                                                                          
    <td><%= link_to date.to_date.strftime('%d %B, %Y') , "javascript:showItems(#{order_id});" , :class => 'btn' %></td>                   
  </tr>
  <tr><td>&nbsp;</td></tr>                                                                         
  <tr><td>&nbsp;</td></tr>                                                                         
<%end%>                                                                         
</table>

<div id="shadow" class="opaqueLayer"> </div>                                    
  <div id="question" class="questionLayer" style="font-size: 0.9em;">           
  </div>                                                                        
</div>
