<script type='text/javascript'><!--

	tt_cancel_show='/product_units/index'
	tt_cancel_destination='/product_units/index'

//-->
</script>

<form action="create" method='post'>
  
  <label for="name">Unit Name</label>
  <%= text_field_tag(:name) %>

  <label for="description">Unit Description</label>
  <%= text_area_tag(:description) %>

  <%= submit_tag value ="Submit"%>

</form>